{% extends 'base.html' %}
{% block extend_title %}
<title>Home</title>
{% endblock %}
{% block extend_body %}
<body>
<h1>Greetings!</h1>
{% if request.user.is_authenticated %}
<br>
<input type="button" value="Search ads" onclick="location.href='{% url 'search_ads' %}'">
<br>
<input type="button" value="My ads" onclick="location.href='{% url 'user_ads' %}'">
<br>
<input type="button" value="Create ad" onclick="location.href='{% url 'create_ad' %}'">
{% if is_staff %}
<br>
<input type="button" value="Pending ads" onclick="location.href='{% url 'pending_ads' %}'">
{% endif %}

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<form action="{% url 'login' %}">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
<br>
<form action="{% url 'register' %}">
    {% csrf_token %}
    <button type="submit">Registration</button>
</form>
{% endif %}
</body>
{% endblock %}